@import "../../utils/styles/_variables.scss";

.tripDropdown {
  display: flex;
  align-items: center;
  border: 1px solid $border-color-primary;
  border-radius: $border-radius-primary;

  p {
    margin: 0;
    font-size: 15px;
    letter-spacing: -0.1px;
    font-weight: 600;
    line-height: 32px;
    padding: 0 16px;
    border-right: 1px solid $border-color-primary;
  }
}
