@import "../../utils/styles/_variables.scss";

.btn {
  display: flex;
  align-items: center;
  background-color: $background-color;
  border: 1px solid $border-color-primary;
  border-radius: $border-radius-primary;
  font-size: 15px;
  letter-spacing: -0.1px;
  font-weight: 600;
  line-height: 30px;
  cursor: pointer;
  padding: 0 10px 0 7px;
  transition: $transition-primary;

  &:hover {
    opacity: 0.8;
  }

  img {
    margin-right: 4px;
  }
}
