@import "../../utils/styles/_variables.scss";
@import "../../utils/styles/_mixins.scss";

.tripInfoHighlights {
  padding-bottom: 1px;

  @include breakpoint(sm) {
    padding-bottom: 15px;
  }

  &__titleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;

    @include breakpoint(md) {
      flex-direction: row;
      align-items: center;
      margin-bottom: 0;
    }
  }

  &__btns {
    display: flex;
    gap: 10px;
    height: 32px;
  }

  &__infoHeader {
    display: flex;
    align-items: center;
    gap: 16px;

    img {
      width: 32px;
      height: 32px;
      border-radius: 50%;
    }
  }

  strong {
    display: block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: -0.3px;
  }

  span {
    font-size: 15px;
    line-height: 21px;
    letter-spacing: -0.2px;
    color: $text-color-gray;
  }

  p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.41px;
  }
}
