// Colors
$primary-color: #000;
$secondary-color: #714eff;
$accent-color: #f2f2f7;

$background-color: #fff;
$background-color-secondary: #f0f4fd;
$background-color-gray: #9d9da1;

$text-color: #000;
$text-color-gray: rgba(60, 60, 67, 0.8);

// Font
$base-font-family: "SF Pro Text", sans-serif;

// Transitions
$transition-primary: all 0.3s;

// Borders
$border-radius-small: 8px;
$border-radius-primary: 16px;
$border-radius-bigger: 24px;
$border-radius-huge: 40px;

$border-color-primary: #efefef;
$border-color-secondary: #ccd7f1;
