// Colors
$primary-color: #000;
$secondary-color: #714eff;
$background-color: #fff;
$text-color: #000;
$text-color-gray: rgba(60, 60, 67, 0.8);

// Font
$base-font-family: "SF Pro Text", sans-serif;

// Transitions
$transition-primary: all 0.3s;

// Borders
$border-radius-small: 8px;
$border-radius-primary: 16px;
$border-radius-bigger: 24px;
$border-radius-huge: 40px;
$border-color-primary: #e5e5ea;
