@import "../../utils/styles/_variables.scss";
@import "../../utils/styles/_mixins.scss";

.dayPlanItem {
  position: relative;
  padding-left: 35px;
  padding-top: 18px;

  @include breakpoint(sm) {
    padding-left: 48px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 13px;
    width: 2px;
    height: 100%;
    background-color: rgba(60, 60, 67, 0.18);
  }

  &__content {
    padding-bottom: 4px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__titleContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 15px;
    padding-bottom: 15px;

    @include breakpoint(sm) {
      flex-direction: row;
      align-items: center;
      gap: 0;
    }

    button {
      height: 32px;
    }
  }

  &__titleContentItem {
    position: absolute;
    left: 0px;
    top: -2px;

    @include breakpoint(sm) {
      top: 2px;
    }
  }

  &__contentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
  }

  &__content {
    button {
      padding: 0;
    }
  }

  &__contentHeaderInfo {
    display: flex;
    align-items: center;
  }

  &__contentHeaderDirection {
    display: flex;
    align-items: center;
    padding: 0 7px 0 3px;
    border-radius: $border-radius-bigger;
    background-color: $accent-color;
    margin-right: 5px;

    img {
      max-width: 26px;
      margin-right: 3px;
    }

    span {
      font-size: 13px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: -0.08px;
      color: $text-color-gray;
      white-space: nowrap;
    }
  }

  &__contentMain {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    @include breakpoint(sm) {
      flex-direction: row;
    }

    &::before {
      content: "";
      position: absolute;
      left: -25px;
      top: 102px;
      width: 4px;
      height: 4px;
      background-color: $background-color-gray;
      border-radius: 50%;
      border: 2px solid #fff;

      @include breakpoint(sm) {
        left: -38px;
        top: 62px;
      }
    }
  }

  &__contentMainItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    max-width: 556px;
    width: 100%;
    order: 2;

    @include breakpoint(sm) {
      flex-direction: row;
      order: 1;
    }
  }

  &__contentMainImg {
    max-width: 296px;
    width: 100%;
    height: 132px;
    border-radius: 12px;
    overflow: hidden;

    @include breakpoint(sm) {
      width: 96px;
      max-width: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__contentMainInfo {
    h5 {
      padding-bottom: 10px;
    }
  }

  &__contentMainPick {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: -0.08px;
    padding: 7px 12px;
    border-radius: $border-radius-small;
    background-color: $accent-color;
    color: $text-color-gray;
    margin-bottom: 10px;
  }

  &__contentMainAbout {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;

    span {
      position: relative;
      font-size: 15px;
      line-height: 21px;
      letter-spacing: -0.2px;
      color: rgba(60, 60, 67, 0.8);

      &::before {
        content: "·";
        position: absolute;
        right: -9px;
        top: 0;
      }

      &:last-child {
        &::before {
          display: none;
        }
      }
    }
  }

  &__contentMainBtns {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 5px;
    order: 1;

    @include breakpoint(sm) {
      width: auto;
      justify-content: start;
      padding-bottom: 0;
      order: 2;
    }

    img {
      min-width: 32px;
    }
  }

  &__contentMainInfo {
    text-align: center;

    @include breakpoint(sm) {
      text-align: left;
    }
  }
}
