@import "../../utils/styles/_variables.scss";
@import "../../utils/styles/_mixins.scss";

.dayPlanItem {
  position: relative;
  padding-left: 68px;
  padding-top: 18px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 36px;
    width: 2px;
    height: 100%;
    background-color: rgba(60, 60, 67, 0.18);
  }

  &__content {
    padding-bottom: 4px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  &__titleContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;

    button {
      height: 32px;
    }
  }

  &__titleContentItem {
    position: absolute;
    left: 23px;
  }

  &__contentHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
  }

  &__content {
    button {
      padding: 0;
    }
  }

  &__contentHeaderInfo {
    display: flex;
    align-items: center;
  }

  &__contentHeaderDirection {
    display: flex;
    align-items: center;
    padding: 0 7px 0 3px;
    border-radius: $border-radius-bigger;
    background-color: $accent-color;
    margin-right: 5px;

    img {
      max-width: 26px;
      margin-right: 3px;
    }

    span {
      font-size: 13px;
      line-height: 18px;
      font-weight: 500;
      letter-spacing: -0.08px;
      color: $text-color-gray;
      white-space: nowrap;
    }
  }

  &__contentMain {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 24px;

    &::before {
      content: "";
      position: absolute;
      left: -35px;
      width: 4px;
      height: 4px;
      background-color: $background-color-gray;
      border-radius: 50%;
      border: 2px solid #fff;
    }
  }

  &__contentMainItem {
    display: flex;
    align-items: center;
    gap: 24px;
    max-width: 556px;
    width: 100%;
  }

  &__contentMainImg {
    width: 96px;
    height: 132px;
    border-radius: 12px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  &__contentMainInfo {
    h5 {
      padding-bottom: 10px;
    }
  }

  &__contentMainPick {
    display: inline-block;
    font-size: 13px;
    line-height: 18px;
    font-weight: 500;
    letter-spacing: -0.08px;
    padding: 7px 12px;
    border-radius: $border-radius-small;
    background-color: $accent-color;
    color: $text-color-gray;
    margin-bottom: 10px;
  }

  &__contentMainAbout {
    display: flex;
    gap: 13px;

    span {
      font-size: 15px;
      line-height: 21px;
      letter-spacing: -0.2px;
      color: rgba(60, 60, 67, 0.8);
    }
  }

  &__contentMainBtns {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
