@import "utils/styles/_normalize.scss";
@import "utils/styles/_fonts.scss";


body {
  font-family: 'SF Pro Text', sans-serif;
  -webkit-font-smoothing: antialiased;
}

img {
  width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 600;
  letter-spacing: -1px;
  margin-bottom: 15px;
  margin-top: 15px;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  letter-spacing: -0.35px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.38px;
  margin: 0;
  padding-bottom: 7px;
}

h5 {
  font-size: 17px;
  line-height: 24px;
  font-weight: 600;
  letter-spacing: -0.41px;
  margin: 0;
}

.tripDropdownSelect__control {
  border: none !important;
  letter-spacing: -0.1px;
  font-size: 15px;
  font-weight: 600;
  line-height: 30px;
  min-height: 30px !important;
  padding-left: 16px !important;
  background-color: transparent !important;
  box-shadow: none !important;
}

.tripDropdownSelect__input-container {
  margin: 0 !important; 
  padding: 0 !important;
  
}

.tripDropdownSelect__value-container {
  padding: 0 !important;
}

.tripDropdownSelect__indicator {
  padding: 0 10px 0 4px !important;
}

.tripDropdownSelect__indicator-separator {
  display: none;
}

.tripDropdownSelect__option--is-selected {
  background-color: #714eff !important;
}
